* {background:black;}
h1{background:cyan;}
@media (max-width:800px){ /*at mobile size*/
#qrCodeImg{display:none;} /*hide QR code */
h1{background: lightgreen;}
h1::after{content:"(mobile)";}/*append text 'mobile’ */
}
